{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <table class="highlight striped centered">
            <thead>
                <tr>
                    <th>Publisher</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Level</th>
                </tr>
            </thead>
    
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{post.publisher}}</td>
                        <td>{{ post.name }}</td>
                        <td>{{ post.author }}</td>
                        <td>{{ post.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock content %}